@import url('https://fonts.googleapis.com/css?family=Quattrocento');

body {
  display: flex;
  font-family: 'Open-sans', arial;
  flex-direction: row;
  font-size: 20px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

aside {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);

  text-align: left;
  height: 100vh;
  align-self: flex-start;
  justify-self: flex-start;
  padding: 20px;
  word-wrap: break-word;
  margin-right: 20px;
  max-width: 25%;
}

#country-data {
}

#country-data h2 {
  color: rgb(251, 106, 74);
}

h4 {
  font-size: 2em;
}
h5 {
  font-size: 1.3em;
}

h2 {
  font-size: 40px;
}

aside header {
  background: white;
}

hgroup > * {
  margin: 0;
}

aside section {
  height: 100%;
}

header,
aside {
  font-family: Quattrocento;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
}

/* All direct children of header has no vertical margin */
header > * {
  margin: 0 0.5em;
}

.right {
  max-width: 15%; /* fixes dynamic slider width smaller devices */
  width: 20%; /* -||- larger devices */
  text-align: right;
}

h1 {
  font-size: 6em;
  margin: 0;
  color: rgb(251, 106, 74);
}

.right #year-avg {
  white-space: nowrap;
  margin: 8px;
  margin-top: -20px;
}

main {
  position: relative;
  margin-right: 15%;
  margin-top: 5%;
}

#legend {
  display: flex;
  position: absolute;
  top: 250px;
  right: -120px;
  width: 300px;
}

#legend > div {
  flex: 1;
  height: 0px;
  margin: 0 1px;
  padding-top: 12px;
  font-size: 14px;
}

/* Map */
main .map {
  position: relative;
  width: 60vw;
}

.map button {
  cursor: pointer;
  background-color: black;
  opacity: 0.7;
  padding: 10px;
  font-size: 20px;
  color: white;
  border: 0;
  position: absolute;
  bottom: 30%;
  right: 0;
}

.map button:hover {
  opacity: 0.9;
}

.country {
  cursor: pointer;
  stroke: #fff;
  stroke-width: 0.4px;
}

.map {
  overflow: hidden;
}

.country:hover {
  opacity: 0.6;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(43, 43, 43, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Slider */
#slider {
  margin: 50px 0;
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
  background: #eeeeee;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.5s;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 100px;
  background: rgba(203, 24, 29);
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 100px;
  background: rgba(203, 24, 29);
  cursor: pointer;
}
